/* CSS Document */

body
{
	background-color: #fed0f6;
}
h1
{
	color:rgb(114, 230, 6);
	text-align: center;
}
p
{
	font-family: "Comic Sans MS";
	font-size: 20px;
	text-align: center;
}